{% load i18n %}
{% load url from future %}
{% load static from staticfiles %}
<!doctype html>
<html lang="en">

<head>
    <title>BugTrack - {% block title %}{% endblock title %}</title>
    <link rel="icon" href="{% static "img/favicon.ico" %}">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    {% block extra_css %}

    {% endblock extra_css %}
</head>

<body>
    <!-- Fixed navbar -->
    {# <h1>{{ request.resolver_match.url_name }}</h1> #}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BugTrack</a>
          {# <a class="navbar-brand" href="#"><img class="logo" src="{% static "img/bug.png" %}" width="30px" height="25px" alt="" /></a> #}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li class="active"><a href="{% url "profile" %}">Home</a></li>
          </ul>
          {% if user.is_authenticated %}
                          <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as {{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">
                       <li><a href="{% url "auth_password_change" %}">Change Password</a></li>
                      <li class="divider"></li>
                      <li><a href="{% url "auth_logout" %}">Log out</a></li>
          </ul>
        </li>
      </ul>
              {% else %}
          {% endif %}

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block extra_js %}

    {% endblock extra_js %}
</body>

</html>
