{% extends "base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}Account Profile{% endblock %}
{% block extra_css %}
<link href="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/styles/tomorrow.css" %}" rel="stylesheet">
<style type="text/css">
    pre {
        background-color: transparent;
        /*border: none;*/
    }
    .tab-content {
        padding-top: 15px;
    }
    .panel-heading {
        cursor: pointer;
    }
</style>
{% endblock extra_css %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <legend>Details about <strong>{{ assessment.name }}</strong> assessment</legend>
        <ul class="nav nav-pills">
            <li class="active"><a href="#info" data-toggle="tab">Information</a></li>
            <li><a href="#findings" data-toggle="tab">Findings <span class="badge">{{ assessment.finding_set.all|length }}</span></a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
        </ul>
        {# {{ assessment }} #}
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="info">
                <div class="panel-group" id="accordion" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingIntroduction" data-toggle="collapse" data-parent="#accordion" data-target="#introduction">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Introduction<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="introduction" class="panel-collapse collapse in" aria-labelledby="headingIntroduction">
                            <div class="panel-body">
                                <small class="pull-right"><i class="fa fa-calendar"></i> &nbsp;{{ assessment.created_at }} <i class="fa fa-arrow-right"></i> {{ assessment.ends_at }}</small>
                                {{ assessment.introduction|safe }}
                            </div>
                        </div>
                    </div>
                    {% if assessment.summary %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingSummary" data-toggle="collapse" data-parent="#accordion" data-target="#summary">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Summary<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="summary" class="panel-collapse collapse in" aria-labelledby="headingSummary">
                            <div class="panel-body">
                                {{ assessment.summary|safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if assessment.scope %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingScope" data-toggle="collapse" data-parent="#accordion" data-target="#Scope">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Scope<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Scope" class="panel-collapse collapse" aria-labelledby="headingScope">
                            <div class="panel-body">
                                {{ assessment.scope|safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if assessment.methodology %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingMethodology" data-toggle="collapse" data-parent="#accordion" data-target="#Methodology">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Methodology<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Methodology" class="panel-collapse collapse" aria-labelledby="headingMethodology">
                            <div class="panel-body">
                                {{ assessment.methodology|safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if assessment.caveats %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingCaveats" data-toggle="collapse" data-parent="#accordion" data-target="#Caveats">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Caveats<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Caveats" class="panel-collapse collapse" aria-labelledby="headingCaveats">
                            <div class="panel-body">
                                {{ assessment.caveats|safe }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if assessment.stakeholders %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingstakeholders" data-toggle="collapse" data-parent="#accordion" data-target="#stakeholders">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Stakeholders<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="stakeholders" class="panel-collapse collapse" aria-labelledby="headingstakeholders">
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    {% for stakeholder in assessment.stakeholders.all %}
                                    {% if not stakeholder.is_staff %}
                                    <dt>{{ stakeholder.get_full_name|title }}</dt>
                                    <dd>{{ stakeholder.email }}</dd>
                                    {% endif %}
                                    {% endfor %}
                                </dl>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="findings">
                <div class="panel-group" id="accordionFinding" aria-multiselectable="true">
                    {% for finding in findings %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingFinding{{ finding.id }}" data-toggle="collapse" data-parent="#accordionFinding" data-target="#Finding{{ finding.id }}">
                            <h4 class="panel-title">
                            <small style="text-align:center">
                            {% if finding.risk == 'critical' or finding.risk == 'high' %}
                            <span class="text-danger">{{ finding.risk|capfirst }}</span></small>
                            {% elif finding.risk == 'medium' %}
                            <span class="text-warning">{{ finding.risk|capfirst }}</span>
                            {% else %}
                            <span class="text-info">{{ finding.risk|capfirst }}</span>
                            {% endif %}
                            </small>
                            <a class="accordion-toggle">
                            {{ finding.title }}<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Finding{{ finding.id }}" class="panel-collapse collapse" aria-labelledby="headingFinding{{ finding.id }}">
                            <div class="panel-body">
                                {{ finding }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="messages">
                {% lorem 3 p %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock extra_js %}
