{% extends "base.html" %}
{% load static from staticfiles %}
{% load bleach_tags %}
{% load i18n %}
{% block title %}Finding ({{ finding }}){% endblock %}
{% block extra_css %}
<style type="text/css">
    /* Custom Styles */
    ul.nav-tabs{
        width: 170px;
        margin-top: 140px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
        border-top: none;
    }
    ul.nav-tabs li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
        border-radius: 0 0 4px 4px;
    }
ul.nav-tabs.affix{
        top: 30px; /* Set the top position of pinned element*/
    }
</style>
<style type="text/css">
    .captcha {
    width: 100px;
    height: 30px;
}
#id_captcha_1 {
    width: 55%;
    height: 30px
}
</style>
<link href="{% static "css/tomorrow.css" %}" rel="stylesheet">
<link href="{% static "css/lightbox.min.css" %}" rel="stylesheet">
<style type="text/css">
    pre {
        background-color: transparent;
        /*border: none;*/
    }
    .tab-content {
        padding-top: 15px;
    }
    .panel-heading {
        cursor: pointer;
    }
    .breadcrumb > li + li.pull-right::before {
        content: none;
}
    .panel-footer {
        background-color: white !important;
    }
</style>
{% endblock extra_css %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-7">
                <small>
                <ol class="breadcrumb">
                    <li><a href="/">Assessments</a></li>
                    <li><a href="{% url "assessment_detail" assessment.slug %}">{{ assessment|truncatewords:4 }}</a></li>
                    <li><a href="{% url "assessment_detail" assessment.slug %}?fpage=1">Findings</a></li>
                    <li class="active">{{ finding|truncatewords:3 }}</li>
                </ol>
                </small>
            </div>
            <div class="col-md-5" style="padding-top: 8px;">
                {# <small> #}
                {% if finding.get_risk_display == 'Critical' or finding.get_risk_display == 'High' %}
                <span class="label label-danger">{{ finding.get_risk_display|capfirst }}{% if finding.cvssv2 %} - {{ finding.cvssv2 }}{% endif %}</span>
                {% elif finding.get_risk_display == 'Medium' %}
                <span class="label label-warning">{{ finding.get_risk_display|capfirst }}{% if finding.cvssv2 %} - {{ finding.cvssv2 }}{% endif %}</span>
                {% else %}
                <span class="label label-info">{{ finding.get_risk_display|capfirst }}{% if finding.cvssv2 %} - {{ finding.cvssv2 }}{% endif %}</span>
                {% endif %}
                {% if finding.is_fixed %}
                <span class="label label-info">Fixed by {{ finding.fixed_by.get_full_name|title }} at {{ finding.fix_date|date:"M. d, Y" }}</span>
                {% if finding.is_fix_verified %}
                <span class="label label-success"> Fix is verfied.</span>
                {% else %}
                <span class="label label-warning"> Fix is not verified.</span>
                {% endif %}
                {% else %}
                <span class="btn btn-link btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">Was not fixed!. Press to set as fixed</span>
                {# </small> #}
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="exampleModalLabel">Can you please update on how that was fixed?!</h4>
                            </div>
                            <div class="modal-body">
                                <form class="form">
                                    <div class="form-group">
                                        <!-- <label for="message-text" class="control-label">Message:</label> -->
                                        <textarea rows="20" class="form-control" id="message-text" placeholder="This feature is still under development."></textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="panel-group" id="accordion" aria-multiselectable="true">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingOverview" data-toggle="collapse" data-parent="#accordion" data-target="#Overview">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Overview<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Overview" class="panel-collapse collapse in" aria-labelledby="headingOverview">
                            <div class="panel-body">
                                {{ finding.overview|bleach }}
                            </div>
                        </div>
                    </div>
                    {% if finding.impact %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingRisk" data-toggle="collapse" data-parent="#accordion" data-target="#Risk">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Impact<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Risk" class="panel-collapse collapse in" aria-labelledby="headingRisk">
                            <div class="panel-body">
                                {{ finding.impact|bleach }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.instance_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingInstance" data-toggle="collapse" data-parent="#accordion" data-target="#Instance">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Infected Instances<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Instance" class="panel-collapse collapse in" aria-labelledby="headingInstance">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    {% for instance in finding.instance_set.all %}
                                    <li>{{instance|truncatewords:20 }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.url_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingUrl" data-toggle="collapse" data-parent="#accordion" data-target="#Url">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Infected URLs<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Url" class="panel-collapse collapse in" aria-labelledby="headingUrl">
                            <div class="panel-body">
                                <ul class="list-unstyled">
                                    {% for url in finding.url_set.all %}
                                    <li>{{ url|urlize|truncatewords_html:20 }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.attachment_set.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingAttachments" data-toggle="collapse" data-parent="#accordion" data-target="#Attachments">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            POCs<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Attachments" class="panel-collapse collapse in" aria-labelledby="headingAttachments">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-8">
                                        <div class="row">
                                            {% for poc in finding.attachment_set.all %}
                                            <a href="{% static poc.image.url %}" data-toggle="lightbox" data-gallery="multiimages" data-title="{{ poc.title }}"  class="col-sm-4">
                                            <img src="{% static poc.image.url %}" class="img-responsive">
                                            </a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.conditions %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingConditions" data-toggle="collapse" data-parent="#accordion" data-target="#Conditions">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Conditions<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Conditions" class="panel-collapse collapse in" aria-labelledby="headingConditions">
                            <div class="panel-body">
                                {{ finding.conditions|bleach }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.recommendation %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingRecommendation" data-toggle="collapse" data-parent="#accordion" data-target="#Recommendation">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Recommendation<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Recommendation" class="panel-collapse collapse in" aria-labelledby="headingRecommendation">
                            <div class="panel-body">
                                {{ finding.recommendation|bleach }}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.references.all %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingReferences" data-toggle="collapse" data-parent="#accordion" data-target="#References">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            References<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="References" class="panel-collapse collapse in" aria-labelledby="headingReferences">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% for reference in finding.references.all %}
                                        <span class="pull-left">{{ reference.name }}</span>
                                        <span class="pull-right">{{ reference.url|urlize|truncatewords_html:10 }}</span><br />
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if finding.allow_comments %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingComments" data-toggle="collapse" data-parent="#accordion" data-target="#Comments">
                            <h4 class="panel-title">
                            <a class="accordion-toggle">
                            Comments<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Comments" class="panel-collapse collapse in" aria-labelledby="headingComments">
                            <div class="panel-body">
                                {% for comment in finding.comment_set.all %}
                                {# {{ comment.created_at|date:"u" }}<br /> #}
                                {% if not comment.parent %}
                                <div class="panel panel-info">
                                    <div class="panel-heading" style="cursor: default;">
                                        <small>{{ comment.commenter.get_full_name }} | {{ comment.created_at }}</small>
                                    </div>
                                    <div class="panel-body">
                                        {{ comment }}
                                        {% if comment.replies.all %}
                                        {% for reply in comment.replies.all %}
                                        <hr style="margin: 5px -5px;">
                                        <div style="margin-left: 20px">
                                            <span>{{ reply }}</span>
                                            <span><small class="pull-right">{{ reply.commenter.get_full_name }} | {{ reply.created_at }}</small></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="panel-footer">
                                        <hr style="margin: 5px -5px;">
                                        <span class="pull-right">
                                        <a  data-toggle="collapse" href="#collapseReply{{ comment.created_at|date:"u" }}" aria-expanded="false" aria-controls="collapseExample">
                                        <i class="fa fa-comment"></i> Reply
                                        </a>
                                        </span>
                                        <div class="clearfix"></div>
                                        <div class="collapse" id="collapseReply{{ comment.created_at|date:"u" }}">
                                            <form action="{% url "replayOnComment" finding.id comment.id %}" method="POST" style="margin-top: 5px;">{% csrf_token %}
                                                <div class="form-group">
                                                    <textarea cols="40" id="id_comment" name="comment" class="form-control" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    {{ comment_form.captcha }} <a href="#" class='btn btn-primary btn-sm captcha-refresh' style=""><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                                                    <button type="submit" class="btn btn-primary pull-right">Comment</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                <div style="padding-top: 10px">
                                    <h4>Your Comment</h4>
                                    <form action="{% url "comment" finding.id %}" method="POST">{% csrf_token %}
                                        {# {{ comment_form }} #}
                                        <div class="form-group">
                                            <textarea cols="40" id="id_comment" name="comment" rows="10" class="form-control" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            {{ comment_form.captcha }} <a href="#" class='btn btn-primary btn-sm captcha-refresh' style=""><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a>
                                            <button type="submit" class="btn btn-primary pull-right">Comment</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% comment %}
    <div class="col-md-2 hidden-sm" id="myScrollspy">
        <ul class="nav nav-tabs nav-stacked" id="myNav">
            <li class="active"><a href="#headingOverview">Overview</a></li>
            {% if finding.impact %}<li><a href="#headingRisk">Impact</a></li>{% endif %}
            {% if finding.instance_set.all %}<li><a href="#headingInstance">Infected Instances</a></li>{% endif %}
            {% if finding.url_set.all %}<li><a href="#headingUrl">Infected URLs</a></li>{% endif %}
            {% if finding.attachment_set.all %}<li><a href="#headingAttachments">POCs</a></li>{% endif %}
            {% if finding.conditions %}<li><a href="#headingConditions">Conditions</a></li>{% endif %}
            {% if finding.recommendation %}<li><a href="#headingRecommendation">Recommendation</a></li>{% endif %}
            {% if finding.references.all %}<li><a href="#headingReferences">References</a></li>{% endif %}
            {% if finding.allow_comments %}<li><a href="#headingComments">Comments</a></li>{% endif %}
        </ul>
    </div>
    {% endcomment %}
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static "js/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="{% static "js/lightbox.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#myNav").affix({
        offset: {
            top: 195
        }
    });
});
</script>
<script type="text/javascript">
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>
<script type="text/javascript">
            var ele = document.getElementsByName('captcha_1');
            for (var i = ele.length - 1; i >= 0; i--) {
                ele[i].setAttribute("required", true);
                // ele[i].setAttribute("class", "form-control");
            };
</script>
<script type="text/javascript">
$(function() {
    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                + location.port + "/captcha/refresh/";
        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });
        return false;
    });
});
</script>
<script type="text/javascript">
window.onhashchange  = function(){
    var currentScrollId = window.location.hash.substring(1);
    if (currentScrollId) {
        // console.log("got currentScrollId: " + currentScrollId);
        var collapsedDiv = document.getElementById(currentScrollId.split("heading")[1])
        // console.log("got collapsedDiv: " + collapsedDiv.id);
        if (collapsedDiv.className.indexOf("collapse in") < 0) {
            $("#" + collapsedDiv.id).collapse({
                toggle: false
            })
            $("#" + collapsedDiv.id).collapse('show');
        };
    };
};
</script>
<script type="text/javascript">
$(function(){
    $('#navbar').on('affixed', function () {
        console.log("affixed");
        // $('#navbar').addClass('navbar-fixed-top')
    });

    $('#navbar').on('unaffixed', function () {
                console.log("unaffixed");

        // $('#navbar').removeClass('navbar-fixed-top')
    });
});
</script>
{% endblock extra_js %}
