{% extends "base.html" %}
{% load static from staticfiles %}
{% load bleach_tags %}
{% load i18n %}
{% block title %}Assessment ({{ assessment }}){% endblock %}
{% block extra_css %}
<link href="{% static "css/tomorrow.css" %}" rel="stylesheet">
<style type="text/css">
    pre {
        background-color: transparent;
        /*border: none;*/
    }
    .tab-content {
        padding-top: 15px;
    }
    .panel-heading {
        cursor: pointer;
    }
.breadcrumb > li + li.pull-right::before {
        content: none;
}
</style>
{% endblock extra_css %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">Assessments</a></li>
            <li class="active">{{ assessment }}</li>
            <li class="pull-right"><small><i class="fa fa-calendar"></i> &nbsp;{{ assessment.created_at }} <i class="fa fa-arrow-right"></i> {{ assessment.ends_at }}</small></li>
        </ol>
        <ul class="nav nav-pills">
            <li class="active"><a href="#info" data-toggle="tab">Information</a></li>
            <li><a href="#findings" data-toggle="tab">Findings <span class="badge">{{ assessment.finding_set.all|length }}</span></a></li>
            <li><a href="#statistics" data-toggle="tab">Statistics</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="info">
                <div class="panel-group" id="accordion" aria-multiselectable="true">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col-md-8">
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingIntroduction" data-toggle="collapse" data-parent="#accordion" data-target="#introduction">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Introduction<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="introduction" class="panel-collapse collapse in" aria-labelledby="headingIntroduction">
                                    <div class="panel-body">
                                        {{ assessment.introduction|bleach }}
                                    </div>
                                </div>
                            </div>
                            {% if assessment.scope %}
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingScope" data-toggle="collapse" data-parent="#accordion" data-target="#Scope">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Scope<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="Scope" class="panel-collapse collapse in" aria-labelledby="headingScope">
                                    <div class="panel-body">
                                        {{ assessment.scope|bleach }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if assessment.summary %}
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingSummary" data-toggle="collapse" data-parent="#accordion" data-target="#summary">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Summary<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="summary" class="panel-collapse collapse in" aria-labelledby="headingSummary">
                                    <div class="panel-body">
                                        {{ assessment.summary|bleach }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4">
                            {% if assessment.stakeholders %}
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingstakeholders" data-toggle="collapse" data-parent="#accordion" data-target="#stakeholders">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Stakeholders<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="stakeholders" class="panel-collapse collapse in" aria-labelledby="headingstakeholders">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% for stakeholder in assessment.stakeholders.all %}
                                                {% if not stakeholder.is_staff %}
                                                <span class="pull-left">{{ stakeholder.get_full_name|title }}</span>
                                                <span class="pull-right"><a href="mailto:{{ stakeholder.email }}">{{ stakeholder.email }}</a></span><br />
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                            {# <div class="col-md-12" style="margin-top: 5px;"> #}
                                                {# <button class="btn btn-primary btn-xs pull-right">Add</button> #}
                                            {# </div> #}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if assessment.methodology %}
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingMethodology" data-toggle="collapse" data-parent="#accordion" data-target="#Methodology">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Methodology<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="Methodology" class="panel-collapse collapse in" aria-labelledby="headingMethodology">
                                    <div class="panel-body">
                                        {{ assessment.methodology|bleach }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if assessment.caveats %}
                            <div class="panel panel-default">
                                <div class="panel-heading" id="headingCaveats" data-toggle="collapse" data-parent="#accordion" data-target="#Caveats">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle">
                                    Caveats<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                                    </a>
                                    </h4>
                                </div>
                                <div id="Caveats" class="panel-collapse collapse in" aria-labelledby="headingCaveats">
                                    <div class="panel-body">
                                        {{ assessment.caveats|bleach }}
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="findings">
                <div class="panel-group" id="accordionFinding" aria-multiselectable="true">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Title</th>
                                <th>Risk</th>
                                <th>Fixed</th>
                                <th>Fixed By</th>
                                <th>Fix Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for finding in findings_pag %}
                            {% if assessment.is_published %}
                            <tr class="{% if finding.is_fixed and finding.is_fix_verified %}success{% elif finding.is_fixed and not finding.is_fix_verified %}info{% endif %}">
                                <td>{{ forloop.counter0|add:findings_pag.start_index }}</td>
                                <td>{{ finding.title }}</td>
                                <td><small>
                                    {% if finding.get_risk_display == 'Critical' or finding.get_risk_display == 'High' %}
                                    <span class="label label-danger" >{{ finding.get_risk_display|capfirst }}</span>
                                    {% elif finding.get_risk_display == 'Medium' %}
                                    <span class="label label-warning">{{ finding.get_risk_display|capfirst }}</span>
                                    {% else %}
                                    <span class="label label-info" >{{ finding.get_risk_display|capfirst }}</span>
                                    {% endif %}</small>
                                </td>
                                <td>
                                    {% if finding.is_fixed %}
                                    {% if finding.is_fix_verified %}
                                    <i class="fa fa-check-circle-o" data-toggle="tooltip" data-placement="right" data-container="body" title="Fixed"></i>
                                    {% else %}
                                    <i class="fa fa-clock-o" data-toggle="tooltip" data-placement="right" data-container="body" title="Waiting to verify the fix"></i>
                                    {% endif %}
                                    {% else %}
                                    <i class="fa fa-times-circle-o" data-toggle="tooltip" data-placement="right" data-container="body" title="Not Fixed"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if finding.is_fixed %}
                                    {{ finding.fixed_by.get_full_name|title }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if finding.is_fixed %}
                                    {{ finding.fix_date }}
                                    {% endif %}
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-xs" href="{% url "finding_detail" assessment.slug finding.slug %}">View</a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                    {% comment %}
                    {% for finding in findings %}
                    <div class="panel panel-default">
                        <div class="panel-heading" id="headingFinding{{ finding.id }}" data-toggle="collapse" data-parent="#accordionFinding" data-target="#Finding{{ finding.id }}">
                            <h4 class="panel-title">
                            <small><span class="">{{ finding.get_risk_display }}</span></small> <a class="accordion-toggle">
                            {{ finding.title }}<span class="pull-right"><small><i class="fa fa-compress"></i> Show/Hide</small></span>
                            </a>
                            </h4>
                        </div>
                        <div id="Finding{{ finding.id }}" class="panel-collapse collapse" aria-labelledby="headingFinding{{ finding.id }}">
                            <div class="panel-body">
                                {{ finding }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endcomment %}
                    {% if findings_pag.has_other_pages %}
                    <nav class="text-center">
                        <ul class="pagination">
                            {% if findings_pag.has_previous %}
                            <li class="pagination-prev"><a href="?fpage={{ findings_pag.previous_page_number }}">«</a></li>
                            {% else %}
                            <li class="disabled"><a href="#">«</a></li>
                            {% endif %}
                            {% for i in findings_pag.paginator.page_range %}
                            <li {% if findings_pag.number == i %} class="active" {% endif %}><a href="?fpage={{i}}">{{i}}</a></li>
                            {% endfor %}
                            {% if findings_pag.has_next %}
                            <li class="pagination-next"><a href="?fpage={{ findings_pag.paginator.num_pages }}">»</a></li>
                            {% else %}
                            <li class="disabled"><a href="#">»</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="statistics">
                {% lorem 3 p %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
<script src="{% static "js/highlight.pack.js" %}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}
var fpage = getParameterByName('fpage');
if (fpage) {
    $("ul.nav-pills li")[0].className = "";
    $("ul.nav-pills li")[1].className = "active";
    document.getElementById("info").className = "tab-pane fade";
    document.getElementById("findings").className = "tab-pane fade in active";
    // console.log(document.getElementById("findings").className)
}
$("[data-toggle='tooltip']").tooltip();
</script>
{% endblock extra_js %}
