{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block title %}{% trans "Password changed" %}{% endblock %}
{% block extra_css %}
    <link href="{% static "css/auth.css" %}" rel="stylesheet">
    <style type="text/css">
    .alert {
        margin-top: 250px;
    }
</style>
{% endblock extra_css %}
{% block content %}
<div class="row well">
<div class="col-md-6">
{# <div class="well message"><p>Password successfully changed!</p></div> #}
<div class="alert alert-success" role="alert"><strong>Heads up! </strong>Password successfully changed!.<a href="{% url "profile" %}" class="alert-link pull-right">Go back to the home page.</a></div>
</div>
<div class="col-md-6">
    <img src="{% static "img/bug.png" %}" height="460px" width="550px" style="margin-top: 50px" class="img-responsive hidden-sm">
</div>


</div>
{% endblock %}
