{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block title %}
    Settings
{% endblock title %}
{% block extra_css %}
    <link href="{% static "css/auth.css" %}" rel="stylesheet">
    <style type="text/css">
    .captcha {
      margin-left: 15px;
    }
    #id_captcha_1 {
    width: 50%;
    height: 30px
    }
    .form-horizontal {
        margin-top: 60px;
    }
</style>
{% endblock extra_css %}
{% block content %}
    <form action="" method="POST" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="submit">
    </form>
{% endblock content %}
