{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}


{% block title %}{% trans "Register for an account" %}{% endblock %}
{% block extra_css %}
    <link href="{% static "css/auth.css" %}" rel="stylesheet">
    <style type="text/css">
    .captcha {
      margin-left: 15px;
    }
    #id_captcha_1 {
    width: 57%;
    height: 33px
}</style>
{% endblock extra_css %}
{% block content %}
{# {{ form.as_table }} #}
<div class="row">
<div class="col-md-7">
<legend><h3>Register a new account</h3></legend>
<form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    {# <legend><h3>Please sign up</h3></legend> #}
    {% if form.non_field_errors %}
  <div class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
    {% for err in form.non_field_errors %}
    {{ err }}
    {% endfor %}
  </div>
{% endif %}

  <div class="well">
  <div class="form-group {% if form.first_name.errors %} has-error has-feedback {% endif %}">
    <label for="id_first_name" class="col-sm-2 control-label">First name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_first_name" name="first_name" autofocus>{% if form.first_name.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.first_name.errors.as_text }}</span>{% endif %}
    </div>
  </div>
  <div class="form-group {% if form.last_name.errors %} has-error has-feedback {% endif %}">
    <label for="id_last_name" class="col-sm-2 control-label">Last name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_last_name" name="last_name">{% if form.last_name.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.last_name.errors.as_text }}</span>{% endif %}
    </div>
  </div>
  </div>
  <div class="well">
  <div class="form-group {% if form.username.errors %} has-error has-feedback {% endif %}">
    <label for="id_username" class="col-sm-2 control-label">Username</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id_username" name="username">{% if form.username.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.username.errors.as_text }}</span>{% endif %}
    </div>
  </div>
  <div class="form-group {% if form.email.errors %} has-error has-feedback {% endif %}">
    <label for="id_email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-10">
      <input type="email" class="form-control" id="id_email" name="email">{% if form.email.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.email.errors.as_text }}</span>{% endif %}
    </div>
  </div>
  </div>
  <div class="well">
  <div class="form-group {% if form.password1.errors %} has-error has-feedback {% endif %}">
    <label for="id_password1" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="id_password1" name="password1">{% if form.password1.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.password1.errors.as_text }}</span>{% else %}<span class="help-block">A common sequence of 8 characters or more</span>{% endif %}
    </div>
  </div>
  <div class="form-group {% if form.password2.errors %} has-error has-feedback {% endif %}">
    <label for="id_password2" class="col-sm-2 control-label">Password confirmation</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="id_password2" name="password2">{% if form.password2.errors %} <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span><span class="help-block">{{ form.password2.errors.as_text }}</span>{% endif %}
    </div>
  </div>
  </div>
  <div class="form-group {% if form.captcha.errors %} has-error has-feedback {% endif %}">
  <label for="id_captcha_1" class="col-sm-2 control-label">Captcha</label>
  {{ form.captcha }} <a href="#" class='btn btn-primary btn-sm captcha-refresh' style="margin-bottom:3px"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></a></div>{% if form.captcha.errors %}<span class="help-block" style="margin-left: 113px"><span class="text-danger">{{ form.captcha.errors.as_text }}</span></span>{% endif %}
  <div class="form-group">
    <div class="col-sm-12">
      <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
    </div>
  </div>
</form>

</div>
<div class="col-md-5">
    <img src="{% static "img/bug.png" %}" height="400px" width="550px" style="margin-top: 95px" class="img-responsive hidden-sm">
    <div class="jumbotron">
<p>{% trans "Have an account?" %} <a href="{% url 'auth_login' %}">{% trans "Sign in" %}</a>.</p>
<p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
</div>
    {# <div class="well"> test</div> #}
</div>


</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
$(function() {


    // Click-handler for the refresh-link
    $('.captcha-refresh').click(function(){
        var $form = $(this).parents('form');
        var url = location.protocol + "//" + window.location.hostname + ":"
                  + location.port + "/captcha/refresh/";

        // Make the AJAX-call
        $.getJSON(url, {}, function(json) {
            $form.find('input[name="captcha_0"]').val(json.key);
            $form.find('img.captcha').attr('src', json.image_url);
        });

        return false;
    });
});
</script>
{% endblock extra_js %}
